

<div class="row">
  <map-table map-data="mapData"></map-table>
</div>

<div class="row">
  <map-table map-data="mapData2"></map-table>
</div>

<!--
<div class="row">

  <map-table data="mapData2"></map-table>

</div>
-->
<!--
 
<div class="row">

  <div class="col-md-4">
    <map data="mapData"></map>
  </div>
  
  
  <div class="col-md-8">
    <state-breakdown data="mapData"></state-breakdown>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <map data="mapData2"></map>
  </div>
  
  
  <div class="col-md-8">
    <state-breakdown data="mapData2"></state-breakdown>
  </div>
  
</div>

-->



